body {
	min-width:1000px;
	height:100%;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
color: #00B7FF;
}
#header {
	background: #1c6fff; /* Old browsers */
	background: -moz-linear-gradient(top, #1c6fff 0%, #689fff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1c6fff), color-stop(100%,#689fff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1c6fff 0%,#689fff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1c6fff 0%,#689fff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1c6fff 0%,#689fff 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1c6fff 0%,#689fff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c6fff', endColorstr='#689fff',GradientType=0 ); /* IE6-9*/
	height:60px;
	border-bottom: 2px solid #1c6fff;
	padding:50px 10%;
}
#header h1 {
	color: #f7f7f7;
	font-size: 50px;
}
#content {
	padding:50px 10%;
	height:100%;
}
#content #sidebar{
	float:left;
	width:15%;
	padding: 1%;
	height:100%;
	background: #ffffff;
}
#content #sidebar ul {
	list-style: none;
}
#content #sidebar ul li {
	margin-top: 3%;
}
#content #sidebar ul li a{
	font-size: 30px;
	font-family: helvetica;
	color:#1c6fff;
	text-decoration: none;
	margin-top: 1%;
}
#content #sidebar ul li a:hover{
	color:#689fff;
}
#content #main{
	float:left;
	border: 1px solid #ccc;
	padding:5%;
	height:100%;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top, #ffffff 1%, #efefef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #ffffff 1%,#efefef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #ffffff 1%,#efefef 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #ffffff 1%,#efefef 100%); /* IE10+ */
	background: linear-gradient(to bottom, #ffffff 1%,#efefef 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
	width:72.5%;
}
#content #main h1 {
	font-size:50px;
	color: #689fff;
	margin-bottom: 5%;
}
#footer {
	float:left;
	width:80%;
	height:20px;
	padding-left:10%;
	padding-right:10%;
	padding-top: 5%;
	text-align: center;
}